{{! Sheet Header }}
<header class='sheet-header'>
  <div class='actor-header-first grid grid-5col'>
    
    <div class='actor-name grid-span-4'>
      <input
        type='text'
        name='name'
        class='actor-name-input'
        value='{{actor.name}}'
        data-dtype='String'
        placeholder='Name'
        {{#unless editable}}disabled{{/unless}}
      />
    </div>

    <div class='actor-level grid-span-1 align-center'>
      <label for='system-level'>Lvl:</label>
      <input
        type='text'
        name='system.level.value'
        class='actor-level-input'
        id='system-level'
        value='{{system.level.value}}'
        data-dtype='Number'
        placeholder='Level'
        {{#unless editable}}disabled{{/unless}}
      />
    </div>

  </div>

  <div class='actor-header-second grid grid-3col'>
    <div class='tags-container grid-span-2' aria-label="Tags">

      {{#if system.tags}}
        {{#if system.tags.length}}
          <ul class="tag-list" role="list">
            {{#each system.tags as |tag|}}
              {{#if tag}}
                <li class="tag-chip {{#if (isAncestryTag tag)}}is-ancestry{{/if}} {{#if (isSizeTag tag)}}is-size{{/if}}" role="listitem" data-tag="{{tag}}">{{tagLabel tag}}</li>
              {{/if}}
            {{/each}}
          </ul>
        {{else}}
          <div class="tags-empty">No tags</div>
        {{/if}}
      {{else}}
      <div class="tags-empty">No tags</div>
      {{/if}}

    </div>

    <div class='lore-coins-container grid-span-1'>
      <label class='lore-coins-label'>Coins:</label>
      <span class="lore-coins-list" aria-hidden="true">
        {{#each (range 0 system.loreCoin)}}
          <img src="systems/lore/assets/icons/LoreCoin.svg" class="lore-coin-icon" alt=""/>
        {{/each}}
      </span>
    </div>
  </div>

  
  
  <div class='combat-stats-container grid grid-5col'>

    <div class='wounds-container grid-span-1'>
      <label class='wounds-label center-text'>
	      {{localize 'LORE.Actor.base.FIELDS.wounds.value.label'}}
      </label>
      <div class='wounds-content flexrow flex-center flex-between center-text'>
        {{#each woundSlots}}
        <label style="position:relative;display:inline-block;">
          <input type='checkbox' name='system.wounds.checkboxes' value='{{this}}' class='wounds-checkbox'/><span class='custom-circle'></span>
        </label>
        {{/each}}
      </div>
    </div>
    
    <div class='unconscious-container grid-span-1'>
      <label class='unconscious-label center-text'>
        {{localize 'LORE.Actor.base.FIELDS.unconscious.label'}}
      </label>
      <div class='unconscious-content flexrow flex-center flex-between center-text'>
        <label style="position:relative;display:inline-block;">
          <input type='checkbox' name='system.unconscious.checkboxes' value='{{this}}' class='unconscious-checkbox'/><span class='custom-circle'></span>
        </label>
      </div>
    </div>

    <div class='stunned-container grid-span-1'>
      <label for='system.morale' class='morale-label'>
        {{localize 'LORE.Actor.base.FIELDS.morale.label'}}: {{system.morale}}
      </label>
    </div>

    <div class='incapacitated-container grid-span-1'>
      <label class='incapacitated-label center-text'>
	      {{localize 'LORE.Actor.base.FIELDS.incapacitated.label'}}
      </label>
      <div class='incapacitated-content flexrow flex-center flex-between center-text'>
        <label style="position:relative;display:inline-block;">
          <input type='checkbox' name='system.incapacitated.checkboxes' value='{{this}}' class='incapacitated-checkbox'/><span class='custom-circle'></span>
        </label>
      </div>
    </div>
    
    <div class='fatigue-container grid-span-1'>
      <label class='fatigue-label center-text'>
	      {{localize 'LORE.Actor.base.FIELDS.fatigue.value.label'}}
      </label>
      <div class='fatigue-content flexrow flex-center flex-between center-text'>
        {{#each fatigueSlots}}
        <label style="position:relative;display:inline-block;">
          <input type='checkbox' name='system.fatigue.checkboxes' value='{{this}}' class='fatigue-checkbox'/><span class='custom-circle'></span>
        </label>
        {{/each}}
      </div>
    </div>

  </div>

  <div class='morale-slider-container'>
    
    
    <div class='morale-slider'>
      <input
        type='range'
        class='morale-input'
        name='system.morale'
        value='{{system.morale}}'
        min='-6'
        max='6'
        step='1'
        data-dtype='Number'
        aria-label='{{localize "LORE.Actor.base.FIELDS.morale.label"}}'
      />
      <div class='morale-ticks' aria-hidden='true'>
        {{#each (range -6 7)}}
          <span class="morale-tick"></span>
        {{/each}}
      </div>
    </div>
    
  </div>

</header>