<aside class="lore-sidebar">

  <div class='lore-sidebar-top'>
    <div class="portrait">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="onEditImage" title="{{actor.name}}" />
    </div>
    <div class='right-container grid-span-1'>
      <img class="lore-logo" src="systems/lore/assets/lore-logo.png" />
      <label class='lore-coins-label'>Coins: 3</label>
    </div>
  </div>

<div class='derived-stats-container flexrow'>
    {{#each system.derivedStatistics as |stat key|}}
      <div class="derived-stat flexrow flex-group-center">
        <img class="derived-stat-icon" src="icons/svg/{{#if (eq key 'pace')}}wingfoot.svg{{else if (eq key 'parry')}}combat.svg{{else if (eq key 'resist')}}shield.svg{{/if}}" alt="{{key}} icon" />
        <input class="derived-stat-input" type="text" name="system.derivedStatistics.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
      </div>
    {{/each}}
  </div>

  <div class='attributes flexcol'>
    <label class='attribute-label'>{{localize 'LORE.Actor.Attributes.label'}}</label>
      {{#each system.attributes as |attribute key|}}
        <div class='attribute flexrow flex-between' data-attribute='{{key}}'>
          <label
            class='attribute-roll-label rollable align-left'
            data-action='roll'
            data-roll='{{attribute.value}}d6khx+@{{key}}.mod'
            data-label='{{localize (lookup @root.config.attributes key)}}'
          >
            {{localize (lookup @root.config.attributes key)}}
          </label>
          {{#if (eq ../editingAttribute key)}}
              <input type='number' class='attribute-rank-input' value='{{attribute.value}}' min='0' style='width:3em;text-align:right;' data-key='{{key}}'>
          {{else}}
            <label
              class='attribute-formula-label roll-summary align-right'
              data-label='{{localize (lookup @root.config.attributes key)}}'
            >
              {{attribute.value}}d6{{#if attribute.mod}}{{numberFormat attribute.mod decimals=0 sign=true}}{{else}}{{numberFormat 0 decimals=0 sign=true}}{{/if}}
            </label>
          {{/if}}
        </div>
      {{/each}}
  </div>


</aside>
