{{! Skills Tab }}
<section
  class='tab skills {{tab.cssClass}}'
  data-group='primary'
  data-tab='skills'
>
  <ol class='skills-list'>
    <li class='skills-header flexrow'>
      <div class='skill-name'>{{localize 'Name'}}</div>
      <div class='skill-formula align-right'>Roll</div>
    </li>

    {{#each skills as |item id|}}
      <li
        class='skill flexrow'
        data-item-id='{{item.id}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='skill-name flexrow align-left'>
          <div class='skill-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{#if item.img}}{{item.img}}{{else}}icons/svg/mystery-man.svg{{/if}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class='skill-formula skill-prop roll-summary align-right'>
          {{item.system.rank.value}}d6
          {{numberFormat item.system.totalModifier decimals=0 sign=true}}
        </div>
      </li>
    {{/each}}
  </ol>
</section>